@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.SupportTicket.SupportTicketViewModel

Получено сообщение на сайте "Личный кабинет перевозчика"(<a href="https://crafter.online/">crafter.online</a>)"
<br/><b>Автор:</b> @Model.Author
<br/><b>Дата сообщения:</b> @Model.CreatedAt.ToString(CultureInfo.InvariantCulture)
<br/><b>Тема :</b> @Model.Author
<br/><b>Сообщение :</b>
<hr/>
@foreach (var item in Model.Messages)
{
    @item.Replace("/n", "<br/>")
    <br/>
}
<hr/>
Для просмотра обращения пройдите по ссылке: <a href="@Model.Url">ссылка</a>
<br/>
<br/>
<i>Авторассылка компании "КРАФТЕР" <br/>сообщение сформировано автоматически <br/>просьба не отвечать на данное письмо</i>