﻿@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.Request.RequestViewModel

<br/><b>Ваше задание было освобождено логистом:</b> @Model.TakenBy.FullName, @Model.TakenBy.PhoneNumber, @Model.TakenBy.Email
<br/>
<br/><b>Номер задания на перевозку:</b> @Model.RequestNumber1C
<br/><b>Номер транспортировки:</b> @Model.TransportationNumber
<br/><b>Заказчик:</b> @Model.Client
<br/><b>Направление ИЗ:</b> @Model.Load.Address
<br/><b>Направление В:</b> @Model.Unload.Address
<br/><b>Дата погрузки:</b> @Model.Load.ArrivalDate.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>По цене для перевозчика:</b> @Model.Price.ToString("n2", CultureInfo.GetCultureInfo("ru")).Replace(',', '.') руб.
<br/>
<br/>Ваше задание @Model.RequestNumber1C/Номер транспортировки @Model.TransportationNumber, @Model.Load.Settlement.Title - @Model.Unload.Settlement.Title, @Model.Client
<br/>было освобождено логистом @Model.TakenBy.FullName на платформе crafter.online по <a href="https://logist.crafter.online/#/requests/@Model.RequestId/reply">ссылке</a>.
<br/>
<br/>Письмо сформировано автоматически и не требует ответа