﻿@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.Request.RequestViewModel

<br/><b>По заданию изменен ответственный логист :</b> @Model.TakenBy.FullName, @Model.TakenBy.PhoneNumber, @Model.TakenBy.Email
<br/>
<br/><b>Номер задания на перевозку:</b> @Model.RequestNumber1C
<br/><b>Заказчик:</b> @Model.Client
<br/><b>Направление ИЗ:</b> @Model.Load.Address
<br/><b>Направление В:</b> @Model.Unload.Address
<br/><b>Дата погрузки:</b> @Model.Load.ArrivalDate.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>По цене для перевозчика:</b> @Model.Price.ToString("n2", CultureInfo.GetCultureInfo("ru")).Replace(',', '.') руб.
<br/>
<br/>Письмо сформировано автоматически и не требует ответа