@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.RequestReply.RequestReplyViewModel

<br/>Ваше задание № @Model.RequestNumber1C было взято в работу логистом @Model.Contact.FIO
<br/>
<br/><b>Номер задания на перевозку:</b> @Model.RequestNumber1C
<br/><b>Перевозчик: </b>@Model.CarrierTitle
<br/><b>Заявка создана: </b>@Model.ReplyAt.ToString("dd/MM/yyyy hh:ss", CultureInfo.GetCultureInfo("ru"))
<br/><b>Комментарий перевозчика: </b>@Model.CarrierComment
<br/><b>Контактное лицо от Крафтер:</b> @Model.Contact.FIO, @(Model.Contact.PhoneNumber ?? "Нет номера телефона") , @Model.Contact.Email
<br/><b>Контактное лицо перевозчика:</b> @Model.KontragentContact.FullName, @(Model.KontragentContact.Phone ?? "Нет номера телефона") , @Model.KontragentContact.Email
<br/><b>ТС:</b> @Model.Transport.Model, @Model.Transport.RegNumber, Прицеп: @(Model.ConnectedTransport?.RegNumber ?? "Без прицепа")
<br/><b>Водитель:</b> @Model.Driver.FullName, @Model.Driver.BirthDate?.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>Краткая информация по заданию:</b>
<br/><b>Заказчик:</b> @Model.Client
<br/><b>Направление ИЗ:</b> @Model.Load.Address
<br/><b>Направление В:</b> @Model.Unload.Address
<br/><b>Дата погрузки:</b> @Model.Load.ArrivalDate.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>По цене для перевозчика:</b> @Model.Price.ToString("n2", CultureInfo.GetCultureInfo("ru")).Replace(',', '.') руб.
<br/>
<br/>Письмо сформировано автоматически и не требует ответа