﻿@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.RequestReply.RequestReplyViewModel

<br/><b>Поступила заявка на подписание ПЭП от логиста <b>@Model.Contact.FIO</b></b>
<br/><b>Перевозчик: </b>@Model.CarrierTitle
<br/><b>Комментарий перевозчика: </b>@Model.CarrierComment
<br/><b>Контактное лицо от Крафтер:</b> @Model.Contact.FIO, @(Model.Contact.PhoneNumber ?? "Нет номера телефона") , @Model.Contact.Email
<br/><b>Контактное лицо перевозчика:</b> @Model.KontragentContact.FullName, @(Model.KontragentContact.Phone ?? "Нет номера телефона") , @Model.KontragentContact.Email
<br/><b>ТС:</b> @Model.Transport.Model, @Model.Transport.RegNumber, Прицеп: @(Model.ConnectedTransport?.RegNumber ?? "Без прицепа")
<br/><b>Водитель:</b> @Model.Driver.FullName, @Model.Driver.BirthDate?.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>Краткая информация по заданию:</b>
<br/><b>Номер:</b> @Model.RequestCode
<br/><b>Заказчик:</b> @Model.Client
<br/><b>Направление ИЗ:</b> @Model.Load.Address
<br/><b>Направление В:</b> @Model.Unload.Address
<br/><b>Дата погрузки:</b> @Model.Load.ArrivalDate.ToString("dd/MM/yyyy HH:mm:ssss", CultureInfo.GetCultureInfo("ru"))
<br/><b>По цене для перевозчика:</b> @Model.Price.ToString("n2", CultureInfo.GetCultureInfo("ru")).Replace(',', '.') руб.
<br/>
<br/>Вам необходимо подписать заявку в вашем личном кабинете на платформе crafter.online по <a href="https://logist.crafter.online/#/requests/@Model.RequestId/reply">ссылке</a>
<br/>
<br/>Письмо сформировано автоматически и не требует ответа