﻿@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.RequestReply.RequestReplyViewModel

<br/><b>Поступила заявка на подписание от логиста <b>@Model.Contact.FIO</b></b>
<br/>Вам необходимо распечатать и подписать заявку из вложения к этому письму.
<br/>Затем Вам необходимо отсканировать подписанную заявку и прислать ее ответственному логисту:
<br/><b>@Model.Contact.FIO</b>, <b>@Model.Contact.PhoneNumber</b>, <b>@Model.Contact.Email</b>
<br/>
<br/><b>Номер задания на перевозку:</b> @Model.RequestNumber1C
<br/><b>Номер заявки на перевозку:</b> @Model.ReisNumber1C
<br/><b>Перевозчик: </b>@Model.CarrierTitle
<br/><b>Заявка создана: </b>@Model.ReplyAt.ToString("dd/MM/yyyy hh:ss", CultureInfo.GetCultureInfo("ru"))
<br/><b>Комментарий перевозчика: </b>@Model.CarrierComment
<br/><b>Контактное лицо от Крафтер:</b> @Model.Contact.FIO, @(Model.Contact.PhoneNumber ?? "Нет номера телефона") , @Model.Contact.Email
<br/><b>Контактное лицо перевозчика:</b> @Model.KontragentContact.FullName, @(Model.KontragentContact.Phone ?? "Нет номера телефона") , @Model.KontragentContact.Email
<br/><b>ТС:</b> @Model.Transport.Model, @Model.Transport.RegNumber, Прицеп: @(Model.ConnectedTransport?.RegNumber ?? "Без прицепа")
<br/><b>Водитель:</b> @Model.Driver.FullName, @Model.Driver.BirthDate?.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>Краткая информация по заданию:</b>
<br/><b>Заказчик:</b> @Model.Client
<br/><b>Направление ИЗ:</b> @Model.Load.Address
<br/><b>Направление В:</b> @Model.Unload.Address
<br/><b>Дата погрузки:</b> @Model.Load.ArrivalDate.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>По цене для перевозчика:</b> @Model.Price.ToString("n2", CultureInfo.GetCultureInfo("ru")).Replace(',', '.') руб.
<br/>
<br/>Заявка также доступна в вашем личном кабинете на платформе crafter.online по <a href="https://logist.crafter.online/#/requests/@Model.RequestId/reply">ссылке</a>
<br/>
<br/>Если Вы в дальнейшем хотите подписывать заявки в электронном виде в своем кабинете - сообщите об этом Вашему логисту.
<br/>
<br/>Письмо сформировано автоматически и не требует ответа