﻿@using System.Globalization
@model Krafter.Logist.WebApp.Views.Email.CarrierOffer.CarrierOfferViewModel

<br/>
<br/><b>Номер заявки на перевозку:</b> @Model.RequestNumber1C
<br/><b>Дата погрузки из заявки:</b> @Model.Load.ArrivalDate.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("ru"))
<br/><b>Ваше предложение по заявке отклонено по причине:</b> @Model.Reason
<br/><b>Заказчик:</b> @Model.Client
<br/><b>Направление ИЗ:</b> @Model.Load.Address
<br/><b>Направление В:</b> @Model.Unload.Address
<br/><b>По цене для перевозчика:</b> @Model.Price.ToString("n2", CultureInfo.GetCultureInfo("ru")).Replace(',', '.') руб. @(Model.isCarrierNDS?"С НДС":"Без НДС")
<br/>
<br/>Открыть заявку в вашем личном кабинете на платформе crafter.online по <a href="https://carrier.crafter.online/#/requests/@Model.RequestId/reply">ссылке</a>
<br/>
<br/>Письмо сформировано автоматически и не требует ответа